- name: Check if the file modsec_debug.log
  stat:
    path: "/usr/local/modsecurity-crs/blacklist_ip.txt"
  register: file_status

- name: Remove the file if it exists
  become: true
  file:
    path: "/usr/local/modsecurity-crs/blacklist_ip.txt"
    state: absent
  when: file_status.stat.exists

- name: Add file configure load modsec module
  ansible.builtin.copy:
    src: "{{ newblacklist }}"
    dest: "/usr/local/modsecurity-crs/"
    mode: "0644"
    remote_src: yes