- name: Copy ModSecurity compress folder
  become: true
  ansible.builtin.copy:
    src: "{{ modsec }}"
    dest: "/opt/"
    mode: "0644"

- name: Untar installer
  become: true
  ansible.builtin.unarchive:
    src: "/opt/{{ modsec }}"
    dest: "/opt/"
    remote_src: yes

- name: Install ModSecurity package
  become: true
  become_method: sudo
  command: yum install mod_security -y

- name: Create a folder modsecurity in /var/log
  become: true
  ansible.builtin.file:
    path: /var/log/modsec/
    state: directory

- name: Create a folder modsecurity in /etc/httpd/
  become: true
  ansible.builtin.file:
    path: /etc/httpd/modsecurity/
    state: directory

- name: Copy a file main.conf to /etc/httpd/modsecurity/
  become: true
  ansible.builtin.copy:
    src: "{{ unarchive_path }}/main.conf"
    dest: "/etc/httpd/modsecurity/"
    mode: "0644"
    remote_src: yes

- name: Copy a file modsecurity.conf to /etc/httpd/modsecurity/
  become: true
  ansible.builtin.copy:
    src: "{{ unarchive_path }}/modsecurity.conf"
    dest: "/etc/httpd/modsecurity/"
    mode: "0644"
    remote_src: yes

- name: Copy a file unicode.mapping to /etc/httpd/modsecurity/
  become: true
  ansible.builtin.copy:
    src: "{{ unarchive_path }}/unicode.mapping"
    dest: "/etc/httpd/modsecurity/"
    mode: "0644"
    remote_src: yes

- name: Copy a file modsecurity-crs.tar.gz to /usr/local/
  become: true
  ansible.builtin.copy:
    src: "{{ unarchive_path }}/modsecurity-crs.tar.gz"
    dest: "/usr/local/"
    mode: "0644"
    remote_src: yes

- name: Untar modsecurity-crs.tar.gz
  become: true
  ansible.builtin.unarchive:
    src: "/usr/local/modsecurity-crs.tar.gz"
    dest: "/usr/local/"
    mode: "0644"
    remote_src: yes

- name: Check if the file 10-mod_security.conf
  stat:
    path: "/etc/httpd/conf.modules.d/10-mod_security.conf"
  register: file_status

- name: Remove the file if it exists
  file:
    path: "/etc/httpd/conf.modules.d/10-mod_security.conf"
    state: absent
  when: file_status.stat.exists

- name: Check if the file mod_security.conf
  stat:
    path: "/etc/httpd/conf.d/mod_security.conf"
  register: file_status

- name: Remove the file if it exists
  file:
    path: "/etc/httpd/conf.d/mod_security.conf"
    state: absent
  when: file_status.stat.exists

#note
- name: Add file configure load modsec module
  ansible.builtin.copy:
    src: "{{ unarchive_path }}/50-mod_security.conf"
    dest: "/etc/httpd/conf.modules.d/"
    mode: "0644"
    remote_src: yes

- name: Copy a file logrotate for modsec
  become: true
  ansible.builtin.copy:
    src: "{{ unarchive_path }}/modsec"
    dest: "/etc/logrotate.d/"
    mode: "0644"
    remote_src: yes

- name: Add Logrotate Cron Job
  become: true
  ansible.builtin.copy:
    src: "{{ unarchive_path }}/logrotatemodsec"
    dest: "/etc/cron.d/"
    mode: "0644"
    remote_src: yes

- name: Check if the file modsec_audit.log
  stat:
    path: "/var/log/modsec/modsec_audit.log"
  register: file_status

- name: Remove the file if it exists
  file:
    path: "/var/log/modsec/modsec_audit.log"
    state: absent
  when: file_status.stat.exists

- name: Check if the file modsec_debug.log
  stat:
    path: "/var/log/modsec/modsec_debug.log"
  register: file_status

- name: Remove the file if it exists
  file:
    path: "/var/log/modsec/modsec_debug.log"
    state: absent
  when: file_status.stat.exists

- name: Creates rotate modsec_log an entry like "*/10 * * * * root /usr/sbin/logrotate /etc/logrotate.d/modsec > /dev/null 2>&1"
  become: true
  ansible.builtin.cron:
    name: "rotate modseclog"
    minute: "*/10"
    job: "/usr/sbin/logrotate /etc/logrotate.d/modsec > /dev/null 2>&1"

- name: Check apache configuration
  command: httpd -t
  register: httpd_test_result
  changed_when: false

- name: Reload apache if configuration is valid
  command: httpd -k restart
  when: httpd_test_result.stderr.find("Syntax OK") != -1